<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello World for Angular</title>
    <link rel="stylesheet" href="base.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="overrides.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script>
        angular.module('myApp', []).controller('MyController', function ($scope, $http) {
            $scope.search = '';
            $scope.link = {};

            $scope.searchForTerm = function (event) {
                if (event.keyCode === 13) {
                    getPage('https://api.github.com/search/repositories?q=' + $scope.search);
                }
            };

            $scope.getPage = getPage;

            function getPage(url) {
                $http.get(url).success(function (data, status, headers) {
                    $scope.repositories = data.items;
                    $scope.link = getLinkObject(headers('Link'));
                    console.log($scope.link);
                    // parse the link header string -->  headers('Link')
                });
            }

            function getLinkObject(headerstring) {
                return headerstring.match(/<[^>]+>;\s?rel="[^"]+"/gmi).map(function (match) {
                    var parts = /<([^>]+)>;\s?rel="([^"]+)"/gmi.exec(match);
                    return parts;
                }).reduce(function(obj, arr) {
                    var prop = arr[2];
                    var val = arr[1];
                    obj[prop] = val;
                    return obj;
                }, {});
            }

        });
    </script>
    <script></script>
</head>
<body>

<div ng-controller="MyController">
    <h1>Enter the search term</h1>
    <input type="text" ng-model="search" ng-keydown="searchForTerm($event)"/>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getPage(link.prev)">Prev</button>
        <button type="button" class="btn btn-default" ng-click="getPage(link.next)">Next</button>
    </div>
    <h1>Results</h1>
    <ul class="row">
        <li class="col-lg-4 col-md-4 col-xs-12" ng-repeat="repo in repositories">
            <div class="row results-grid-col">
                <div class="col-lg-4">
                    <img style="width: 100%;" ng-src="{{repo.owner.avatar_url}}" alt="{{repo.owner.login}}"/>
                </div>
                <div class="col-lg-8">
                    <ul>
                        <li>{{repo.full_name}}</li>
                        <li>Forks: {{repo.forks_count}}</li>
                        <li>Open Issues: {{repo.open_issues_count}}</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>